body{
    color:azure;
    background-color: rgb(253, 133, 104);
}
h1{
    font-size: 36px;
    font-family: "Helvetica", "Arial", sans-serif;
}
h2{
    font-size: 40px;
    font-family: "Helvetica", "Arial", sans-serif;
}
ul{
    list-style-type: circle;
}
ol{
    list-style-type: lower-roman;
}
